:root {
    --color-white: #FFF;
    --color-white-darken-2: #FAFAFA;

    --color-black: #000;
    --color-black-lighten-10: #0A0A0A;
    --color-black-lighten-20: #333;

    --color-primary: #FF6B35;
    --color-primary-contrast: #FAFAFA;

    --color-pomegrenate-light: #f9ebea;
    --color-peter-river-light: #ebf5fb;
    --color-emerald-light: #eafaf1;
    --color-sunflower-light: #fef9e7;
    --color-amethyst-light: #f5eef8;

    --font-weight-bold: 600;

    --var-screen-lg: 1200px;
    --var-screen-md: 768px;
    --var-screen-sm: 425px;
    --var-screen-xs: 375px;
    --var-screen-xxs: 320px;
}

@font-face {
    font-family: adventuring;
    src: url(../fonts/lovelo.otf);
}


html,
body {
    font-family: "Nunito", tahoma;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: var(--color-primary-background);
    scroll-behavior: smooth;
}

/* ====== Start Nav Bar Styles ======== */

.brand-logo {
    background: url(../img/brand.svg);
    height: 42px;
    width: 100px;
    margin: 10px 0 6px 0;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}


nav#primary_nav {
    border: 0px;
    transition: all 200ms ease;
    background: transparent;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    transition: all 200ms ease;
}

nav#primary_nav.scrolled_nav {
    transform: translateY(4px);
}

nav#primary_nav.scrolled_nav .nav-container {
    background: var(--color-black-lighten-10);
    border-radius: 4px;
}

nav#primary_nav .navbar-toggle {
    border-radius: 0px;
    border-color: var(--color-white);
    background: var(--color-primary);
}

nav#primary_nav .navbar-toggle span.icon-bar {
    color: var(--color-white);
    background: var(--color-white);
    height: 1px;
}

nav#primary_nav .navbar-brand {
    font-family: adventuring, tahoma;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    font-weight: light;
    padding-top: 15px;
}

nav#primary_nav .navbar-brand a {
    color: var(--color-white);
}

nav#primary_nav .navbar-brand a span {
    font-size: 32px;
}

nav#primary_nav .navbar-brand a:hover {
    text-decoration: none;
}

nav#primary_nav .navigation {
    margin: 0;
    padding: 0;
    z-index: 9999;
}

nav#primary_nav .navigation li a {
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    padding-top: 22px;
    padding-bottom: 22px;
    position: relative;

    &:before {
        content: ' ';
        width: 0;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        height: 1px;
        background-color: var(--color-primary-contrast);
        transition: all 200ms ease-in-out;
    }
}

nav#primary_nav.scrolled_nav .navigation li a {
    &:before {
        height: 4px;
        border-radius: 2px 2px 0 0;
    }
}

nav#primary_nav.scrolled_nav .contact-button {
    border-radius: 0 2px 2px 0;
}

nav#primary_nav .navigation li a:hover {
    text-decoration: none;

    &:before {
        width: 80%;
    }
}

.contact-button {
    background: var(--color-primary);
}

/* ====== End Nav Bar Styles ======== */



/* ====== Start Global Styles ======== */

.slide {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}

.background-pomegrenate-light {
    background: var(--color-pomegrenate-light);
}

.background-peter-river-light {
    background: var(--color-peter-river-light);
}

.background-amethyst-light {
    background: var(--color-amethyst-light);
}

.background-emerald-light {
    background: var(--color-emerald-light);
}

.background-sunflower-light {
    background: var(--color-sunflower-light);
}

.white-underline {
    border-bottom: 1px solid var(--color-white);
}

.dark-underline {
    border-bottom: 1px solid var(--color-black-lighten-10);
}

.main .slide h3 {
    font-family: adventuring, tahoma;
    font-size: 48px;
    text-align: center;
    margin-top: 48px;
}

.section-subtite {
    font-size: 18px;
    margin: 16px 0 32px 0;
    text-align: center;
}

/* ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #234170;
}

::-webkit-scrollbar-track {
    background: rgba(29, 54, 93, 0.4);
} */

/* ====== End Global Styles ======== */


/* ====== Start Home Section Styles ======== */
#home {
    background-color: var(--color-black-lighten-10);
    color: var(--color-white);

    background-color: var(--color-black-lighten-10);
    background-image: url('/assets/svgs/pattern-hero.svg');
}

.hero-banner {
    min-height: 65vh;
    padding-top: 25vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro_content h1 {
    font-family: adventuring, tahoma;
    font-size: 60px;
    height: auto;
}

.intro_content h1 span {
    font-size: 80px;
}

.intro_content p {
    font-size: 20px;
    line-height: 36px;
}

.stat-container {
    padding: 40px;
    display: inline-block;
    text-align: center;
}

.stat-number {
    font-size: 22px;
    font-weight: 600;
}

.stat-border-right {
    border-right: 1px solid var(--color-white);
}


.stat-border-top {
    border-top: 1px solid var(--color-white);
}

.stat-subtitle {
    font-size: 18px;
}

.carousel-wrapper {
    margin-top: 120px;
    text-align: center;
    width: 100%;
}

.carousel-title {
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: 600;
}

.carousel-container {
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.carousel-track {
    display: flex;
    animation: slide 15s linear infinite;
}

.carousel {
    display: inline-flex;
    animation: marquee 30s linear infinite;
}

.marquee {
    width: 80%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%)
}

.client-logo img {
    height: 40px;
    margin: 0 16px;
}

/* ====== End Home Section ======== */

/* ====== Start Projects Section ======== */

.project-card {
    margin-bottom: 30px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--color-black-lighten-10);
}

.project-image-container {
    width: 100%;
    padding: 40px;
    padding-bottom: 0;
    position: relative;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid var(--color-black-lighten-10);
}

.project-image-container img {
    width: 100%;
    min-height: 276px;
    object-fit: cover;
}

.flaconi img {
    min-height: 620px;
}

.hubspot {
    background: #FFDAC1;
}

.olx {
    background: #C8F8F5;
}

.omio {
    background: #fdb5b5;
}

.innovaccer {
    background: #A0CCE0;
}

.flaconi {
    background: #FAF8F3;
}

.project-image-container.flaconi {
    height: 620px;
    overflow: hidden;
}

.project-contact-button {
    font-size: 20px;
    padding: 8px 16px;
    border: 1px solid var(--color-white);
    margin: 16px 0;
    display: inline-block;
    background: var(--color-white);
    border-radius: 2px;
    color: #1d365d;

    &:hover {
        color: var(--color-black-lighten-10);
    }
}

.project-overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    text-decoration: underline;
    top: 0;
    left: 0;
    font-size: 18px;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    transition: all 200ms linear;

    &:hover {
        color: #FFF;
        opacity: 1;
    }
}

.project-title {
    text-align: left;
    padding: 8px 48px;
    color: var(--color-black-lighten-10);
}

.project-title h4 {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.project-category {
    margin-top: 8px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}


.project-role {
    font-size: 18px;
    font-style: italic;
}

.your-project-card {
    background: var(--color-black-lighten-10);

    .project-title {
        color: var(--color-white);
    }
}

/* ====== End Projects Section ======== */

/* ====== Start Testimonials Section ======== */

.testimonial-card {
    color: var(--color-black-lighten-10);
    border: 1px solid var(--color-black-lighten-10);
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 24px;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    position: relative;
    /* box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.testimonial-quote {
    position: relative;
}

.quote-icon {
    opacity: .1;
    /* position: absolute; */
    font-size: 22px !important;
}

/* .quote-icon-left {
    left: 0;
    top: 0px;
}

.quote-icon-right {
    bottom: 0px;
    right: 0px;
} */


.testimonial-person-name,
.testimonial-person-name a {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 0px;
    color: var(--color-primary);
    text-decoration: underline;
}

.testimonial-person-name .fa-external-link {
    font-size: 14px;
}

/* ====== End Testimonials Section ======== */


/* ====== Start Contact Section ======== */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
    min-height: 80vh;
}

.footer-content {
    margin-bottom: 4px;
    text-align: center;
    border-top: 1px solid var(--color-black-lighten-10);
    color: var(--color-black-lighten-10);
    padding: 24px 16px 48px 16px;
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    display: flex;
    justify-content: space-between;
}

.built-with {
    display: inline-flex;
    align-items: center;
}

.heart-icon {
    animation: 1.8s ease 0s infinite beat;
    margin-left: 4px;
    color: rgb(208, 20, 20);
}

#contact .drop-para {
    font-size: 24px;
    line-height: 80px;
    padding: 60px 0;
    text-align: center;
}

#contact .email-link {
    font-weight: bold;
    font-size: 34px;
    padding: 43px 0px;
    display: inline-block;
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 8px;
    line-height: 32px;
    transition: all 200ms ease;

    &:hover {

        text-decoration: none;
    }
}

#contact .social {
    text-align: center;
    margin-bottom: 120px;
}

#contact .social a {
    font-size: 24px;
    position: relative;
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgba(20, 20, 20, 0.2);
    border: 1px solid #172b4a;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;

    &:hover {
        text-decoration: none;
    }
}

#contact .social a {
    background: var(--color-black-lighten-10);
    border: 1px solid var(--color-black-lighten-10);
    transition: all 200ms ease;
}

#contact .social a span.fa {
    color: var(--color-white);
}


#contact .social .gh:hover {
    border-color: black;
    background: #333;
}

#contact .social .cp:hover {
    border-color: #1b1b1c;
    background: #4D4D50;
}

#contact .social .tw:hover {
    border-color: #0065d9;
    background: #4099ff;
}

#contact .social .li:hover {
    border-color: #043653;
    background: #0976b4;
}


/* ====== End Contact Section ======== */

/* ====== Start Animations ======== */

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }

}

@keyframes beat {

    0%,
    50%,
    100% {
        transform: scale(1.2, 1.3);
    }

    30%,
    80% {
        transform: scale(0.92, 0.95);
    }
}

/* ====== End Animations ======== */


/* ====== Start Media Queries ======== */


@media all and (max-width: 1200px) {
    .carousel-wrapper {
        position: relative;
        margin-top: 160px;
    }

    .stats-row {
        margin: 80px 0;
    }

    .service-border-right {
        border-right: none;
    }


    .service-border-bottom {
        border-bottom: none;
    }
}


@media all and (max-width: 767px) {
    .stat-border-right {
        border-right: none;
        border-bottom: 1px solid var(--color-white);
    }

    nav#primary_nav.navbar-fixed-top {
        position: relative;
        background-color: var(--color-black-lighten-10);
        margin-bottom: 0;
    }

    nav#primary_nav .navigation {
        width: 100%;
        background-color: var(--color-black-lighten-10);
    }

    .navbar-toggle {
        margin-top: 16px;
    }

    nav#primary_nav.scrolled_nav {
        transform: translateY(0px);
    }
}

@media all and (max-width: 520px) {
    #contact .email-link {
        font-size: 28px;
    }

    #home .intro_content h1 {
        font-size: 60px;
        height: auto;
    }

    #home .intro_content h1 span {
        font-size: 80px;
    }

    #home .intro_content p {
        font-size: 12px;
    }
}

@media all and (max-width: 440px) {
    .carousel-wrapper {
        position: relative;
        margin-top: 200 px;
    }

    #home .intro_content h1 {
        font-size: 32px;
        height: auto;
        overflow: hidden;
    }

    #home .intro_content h1 span {
        font-size: 40px;
    }
}

/* ====== End Media Queries ======== */