@font-face {
  font-family: adventuring;
  src: url(../fonts/lovelo.otf);
}

html,
body {
  font-family: "Nunito", tahoma;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.hover_nav {
  box-shadow: 1px 1px 6px rgba(29, 54, 93, 0.6);
}

.brand-logo {
  background: url(../img/brand.svg);
  height: 42px;
  width: 100px;
  margin: 10px 0 6px 0;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

#overlay {
  width: 100%;
  background: #f04e3c;
}

nav#primary_nav {
  background: rgba(240, 78, 60, 0);
  border: 0px;
  border-top: 1px solid #FF6B35;
}

nav#primary_nav .navbar-toggle {
  border-radius: 0px;
  border-color: #FFF;
  background: rgba(29, 54, 93, 0.9);
}

nav#primary_nav .navbar-toggle span.icon-bar {
  color: #FFF;
  background: #FFF;
  height: 1px;
}

nav#primary_nav .navbar-brand {
  font-family: adventuring, tahoma;
  padding: 0px;
  margin: 0px;
  font-size: 24px;
  font-weight: light;
  padding-top: 15px;
}

nav#primary_nav .navbar-brand a {
  color: #FFF;
}

nav#primary_nav .navbar-brand a span {
  font-size: 32px;
}

nav#primary_nav .navbar-brand a:hover {
  text-decoration: none;
}

nav#primary_nav .navigation {
  margin: 0;
  padding: 0;
  z-index: 9999;
}

nav#primary_nav .navigation li a {
  color: #FFF;
  font-family: "Nunito", tahoma;
  font-weight: bold;
  padding-top: 22px;
  padding-bottom: 22px;
  position: relative;

  &:before {
    content: ' ';
    width: 0;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 1px;
    background-color: #FFF;
    transition: all 200ms ease-in-out;
  }
}

nav#primary_nav .navigation li a:hover {
  /* background: #1d365d; */
  text-decoration: none;

  &:before {
    width: 80%;
  }
}

nav#primary_nav li.active {
  background: #e80a09;
}

.contact-button {
  background: #FF6B35;
}

.main .slide {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.main .slide h3 {
  font-family: adventuring, tahoma;
  font-size: 48px;
  text-align: center;
  margin-top: 48px;
}

.section-subtite {
  font-size: 18px;
  margin: 16px 0 32px 0;
}

.main .slide h3 .faded-text {
  opacity: .4;
}

.main .slide h3 small {
  font-size: 28px;
  vertical-align: 8px;
}

.main .slide .next_slide {
  display: block;
  position: absolute;
  bottom: 25px;
  border-radius: 100%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin-left: -25px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(250, 250, 250, 0.5);
  text-align: center;
  -webkit-transition: background, margin-bottom 500ms ease;
  transition: background, margin-bottom 500ms ease;
}

.main .slide .next_slide span.fa {
  color: #FFF;
  font-size: 36px;
  padding-top: 6px;
}

.main .slide .next_slide:hover {
  background: rgba(29, 54, 93, 0.9);
  margin-bottom: -10px;
  -webkit-transition: background, margin-bottom 500ms ease;
  transition: background, margin-bottom 500ms ease;
}

.main .back_top_wrapper {
  position: relative;
  z-index: 99;
}

.main .back_top_wrapper .back_to_top {
  display: none;
  position: fixed;
  bottom: 25px;
  border-radius: 100%;
  right: 10px;
  bottom: 10px;
  height: 40px;
  width: 40px;
  margin-left: -25px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(250, 250, 250, 0.5);
  text-align: center;
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
}

.main .back_top_wrapper .back_to_top span.fa {
  color: #FFF;
  font-size: 30px;
  padding-top: 2px;
  z-index: 99;
}

.main .back_top_wrapper .back_to_top:hover {
  background: rgba(29, 54, 93, 0.9);
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
}

#home {
  background: url("../img/workspace2.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  moz-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

#home .intro_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1d365d;
  opacity: .92;
  /*-webkit-filter:blur(15px);*/
}

.intro-row {
  margin-top: 25vh;
}

#home .intro_content {
  width: 100%;
  position: relative;
  font-family: adventuring;
  color: #FFF;
  text-align: left;
}

#home .intro_content h1 {
  font-size: 80px;
  height: 95px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -6px;
}

#home .intro_content h1 span {
  font-size: 100px;
}

#home .intro_content p {
  font-family: "Nunito", tahoma;
  font-weight: 200;
  font-size: 20px
    /*22px*/
  ;
  line-height: 36px;
}

.dashed-highlight {
  border-bottom: 1px solid #fff;
}

.tilted-highlight {
  position: relative;
  padding: 0 16px;
  margin: 0 4px;
}

.tilted-highlight-text {
  z-index: 1;
  position: relative;
  display: inline-block;
}


.tilted-highlight:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8px;
  width: 100%;
  background: #FF8C42;
  /* background: #FFD23F; */
  transform: skew(-30deg);
  transform-origin: top;
  z-index: 0;
}

.relative {
  position: relative;
}

.stat-container {
  color: #fff;
  padding: 40px;
  display: inline-block;
}

.stat-number {
  font-size: 22px;
  font-weight: 600;
}

.stat-border-right {
  border-right: 1px solid #fff;
}


.stat-border-bottom {
  border-bottom: 1px solid #fff;
}

.stat-subtitle {
  font-size: 18px;
}

.carousel-wrapper {
  /* position: absolute; */
  margin-top: 20vh;
  margin-bottom: 120px;
  width: 100%;
}

.section-container {
  min-height: 100vh;
}

.clients-carousel-container {
  margin: 0 auto;
  text-align: center;
}

.clients-carousel-container h2 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 600;
}

/* Company Carousel */

.carousel-container {
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.carousel-track {
  display: flex;
  animation: slide 15s linear infinite;
}

.carousel {
  display: inline-flex;
}

.testimonial-card {
  background-color: #FFF;
  color: #1d365d;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 24px;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  position: relative;
  height: 100%;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.testimonial-quote {
  position: relative;
}

.testimonial-person-name,
.testimonial-person-name a {
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #FF6B35;
  text-decoration: underline;
}

.testimonial-person-name .fa-external-link {
  font-size: 14px;
}

.carousel-cell {
  height: 100%;
}


.gallery-cell {
  width: 90%;
  min-height: 100%;
  margin: 0 8px;
}

.flickity-button {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(250, 250, 250, 0.5);
  text-align: center;
  transition: all 500ms ease;
  color: #FFF;

  &:hover {
    background: rgba(29, 54, 93, 0.9);
  }
}

.flickity-page-dots {
  bottom: -48px;
}

.flickity-prev-next-button .flickity-button-icon {
  width: 18px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.flickity-page-dots .dot {
  background: #FF6B35;
}

.quote-icon {
  opacity: .1;
  position: absolute;
  font-size: 60px !important;
}

.quote-icon-left {
  left: 0;
  top: 0px;
}

.quote-icon-right {
  bottom: -40px;
  right: 0px;
}


.testimonial-card ul li {
  margin-bottom: 16px;
}


.company-logo img {
  height: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 16px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.projects-showcase,
.testimonials-slide,
.services-slide {
  padding-bottom: 120px;
}


.project-card {
  margin-bottom: 30px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #1d365d;
}

.project-image-container {
  width: 100%;
  padding: 40px;
  padding-bottom: 0;
  position: relative;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #1d365d;
}

.project-image-container img {
  width: 100%;
  min-height: 276px;
}

.flaconi img {
  min-height: 620px;
}

.hubspot {
  background: #FFDAC1;
}

.olx {
  background: #C8F8F5;
}

.omio {
  background: #fdb5b5;
}

.innovaccer {
  background: #A0CCE0;
}

.flaconi {
  background: #FAF8F3;
}

.project-image-container.flaconi {
  height: 620px;
  overflow: hidden;
}

.project-contact-button {
  font-size: 20px;
  padding: 8px 16px;
  border: 1px solid #FFF;
  margin: 16px 0;
  display: inline-block;
  background: #FFF;
  border-radius: 2px;
  color: #1d365d;

  &:hover {
    color: #1d365d;
  }
}

.project-overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  text-decoration: underline;
  top: 0;
  left: 0;
  font-size: 18px;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  transition: all 200ms linear;

  &:hover {
    color: #FFF;
    opacity: 1;
  }
}

.project-title {
  text-align: left;
  padding: 8px 48px;
  color: #1d365d;
}

.project-title h4 {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.project-category {
  margin-top: 8px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}


.project-role {
  font-size: 18px;
  font-style: italic;
}

#testimonials {
  background-color: #1d365d;
  color: #FFF;
}


#service {
  position: relative;
  color: #FFF;
  margin-bottom: 32px;
}

.service-border-right {
  border-right: 1px solid #1d365d;
}


.service-border-bottom {
  border-bottom: 1px solid #1d365d;
}

.service-card {
  padding: 40px;
  min-height: 400px;
}

.service-desc {
  font-size: 16px;
  color: #1d365d;
  max-height: 200px;
  overflow: hidden;
}

.color-highlight {
  color: #1d365d;
  font-weight: 600;
  border-bottom: 1px solid #1d365d;
}

.color-highlight-primary {
  /* color: #FF6B35; */
  /* border-bottom: 1px solid #1d365d; */
}

.your-project-card {
  background: #1d365d;

  .project-title {
    color: #FFF;
  }
}

.service-title {
  color: #1d365d;
  font-weight: 600;
}

.service-illustration {
  display: inline-block;
  width: 60%;
  max-height: 200px;
  overflow: hidden;
}



#skills {
  padding-bottom: 0px;
  height: 840px;
  display: none;
}

#skills a.next_slide {
  z-index: 10;
}

#skills .skills-wrapper {
  overflow: hidden;
}

#skills .skills-circles {
  position: relative;
  height: 640px;
  width: 100%;
  font-family: "Nunito", tahoma;
}

#skills .skills-circles a .fa {
  margin-left: 4px;
  vertical-align: 0px;
}

#skills .skills-circles .point {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #294d84;
  box-shadow: 0 0 0 15px rgba(41, 77, 132, 0.1);
  display: inline-block;
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2em;
  z-index: 9;
  -webkit-transition: box-shadow 200ms linear;
  -moz-transition: box-shadow 200ms linear;
  -ms-transition: box-shadow 200ms linear;
  -o-transition: box-shadow 200ms linear;
  transition: box-shadow 200ms linear;
}

#skills .skills-circles .point:hover {
  box-shadow: 0 0 0 24px rgba(41, 77, 132, 0.1);
}

#skills .skills-circles .point.point-1 {
  transform: translate(25.5em);
}

#skills .skills-circles .point.point-2 {
  transform: translate(-22.9em);
}

#skills .skills-circles .point.point-3 {
  transform: translate(1em, -10em);
}

#skills .skills-circles .point.point-4 {
  transform: translate(-32.3em, 17.5em);
}

#skills .skills-circles .point.point-5 {
  transform: translate(34.9em, 18em);
}

#skills .skills-circles .point .content {
  position: relative;
}

#skills .skills-circles .point .tooltip {
  position: relative;
}

#skills .skills-circles .point .content-tooltip {
  position: absolute;
  height: 90px;
  width: 250px;
  top: -130px;
  left: -117px;
  border: 1px solid #EAEAEA;
  box-shadow: 0 0 10px 2px #FAFAFA;
  background: #FFF;
}

#skills .skills-circles .point .content-tooltip .tootip-body {
  position: relative;
  padding: 20px 10px;
  text-align: center;
}

#skills .skills-circles .point .content-tooltip .tootip-body .feature-name {
  color: #444;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 25px;
}

#skills .skills-circles .point .content-tooltip .tootip-body a {
  font-size: 14px;
  font-weight: 300;
}

#skills .skills-circles .point .content-tooltip:before {
  position: absolute;
  content: ' ';
  bottom: -10px;
  left: 115px;
  border-top: 10px solid #FFF;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 9;
}

#skills .skills-circles .point .content-tooltip:after {
  position: absolute;
  content: ' ';
  bottom: -11px;
  left: 114px;
  border-top: 11px solid #EAEAEA;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  z-index: 8;
}

#skills .skills-circles .circle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  margin: auto;
  border: 1px solid #EAEAEA;
  border-bottom: 1px solid transparent;
}

#skills .skills-circles .circle .content-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
  border-radius: inherit;
}

#skills .skills-circles .circle .content-wrapper h6 {
  font-family: "Nunito", tahoma;
  font-size: 20px;
  color: #444;
  padding-top: 30px;
  font-weight: 300;
  line-height: 26px;
}

#skills .skills-circles .circle .content-wrapper h6 strong {
  font-weight: 500;
}

#skills .skills-circles .circle .content-wrapper a {
  font-size: 14px;
}

#skills .skills-circles .circle.circle-3 {
  height: 480px;
  width: 960px;
  border-radius: 480px 480px 0 0;
  z-index: 1;
}

#skills .skills-circles .circle.circle-2 {
  height: 360px;
  width: 720px;
  border-radius: 480px 480px 0 0;
  z-index: 2;
}

#skills .skills-circles .circle.circle-2 .content-wrapper .circle-heading {
  padding-top: 30px;
}

#skills .skills-circles .circle.circle-2 .comet-circle {
  height: 720px;
  width: 720px;
  position: absolute;
  border-radius: 100%;
  animation: rotate-anticlockwise 250s infinite;
}

#skills .skills-circles .circle.circle-2 .comet-circle .comet.upper {
  position: absolute;
  transform: translate(58px, 60px) rotate(-18deg);
}

#skills .skills-circles .circle.circle-2 .comet-circle .comet.lower {
  position: absolute;
  transform: translate(381px, 654px) rotate(186deg);
}

#skills .skills-circles .circle.circle-1 {
  height: 240px;
  width: 480px;
  border-radius: 240px 240px 0 0;
  box-shadow: 0 0 180px 60px rgba(41, 77, 132, 0.1);
  z-index: 3;
}

#skills .skills-circles .circle.circle-1 .comet-circle {
  height: 480px;
  width: 480px;
  position: absolute;
  border-radius: 100%;
  animation: rotate-clockwise 250s infinite;
}

#skills .skills-circles .circle.circle-1 .comet-circle .comet.upper {
  position: absolute;
  transform: translate(337px, 31px) rotate(9deg);
}

#skills .skills-circles .circle.circle-1 .comet-circle .comet.lower {
  position: absolute;
  transform: translate(125px, 423px) rotate(-196deg);
}

#skills .skills-circles .circle.circle-1 .circle-inner {
  position: absolute;
  background: #E7EBEE;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
  color: #AAA;
  z-index: 10;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-html {
  transform: translate(-210px, 15px);
  background-image: url("../img/html5.svg");
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-html:hover {
  transform: translate(-210px, 15px) scale(1.2);
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-css {
  transform: translate(-100px, -90px);
  background-image: url("../img/css3.svg");
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-css:hover {
  transform: translate(-100px, -90px) scale(1.2);
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-ruby {
  transform: translate(210px, 15px);
  background-image: url("../img/ruby.svg");
  border: 1px solid #CCC;
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-ruby:hover {
  transform: translate(210px, 15px) scale(1.2);
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-js {
  transform: translate(100px, -90px);
  background-color: #46483F;
  background-image: url("../img/js.svg");
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-js:hover {
  transform: translate(100px, -90px) scale(1.2);
}

#skills .skills-circles .circle.circle-1 .circle-inner.framework {
  background: #FFF;
  color: #1d365d;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-ror {
  transform: translate(350px, 40px);
  background-position: 6px 6px;
  background-image: url("../img/rails.svg");
  border: 1px solid #CCC;
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-ror:hover {
  transform: translate(350px, 40px) scale(1.2);
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-react {
  transform: translate(0, -240px);
  overflow: hidden;
  text-overflow: ellipsis;
  background-image: url("../img/react.svg");
  background-color: #292929;
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-react:hover {
  transform: translate(0, -240px) scale(1.2);
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-bs {
  transform: translate(-350px, 40px);
  background-image: url("../img/bootstrap.svg");
  background-color: #563D7C;
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-bs:hover {
  transform: translate(-350px, 40px) scale(1.2);
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-jq {
  transform: translate(-260px, -120px);
  background-image: url("../img/jquery.svg");
  background-color: #146BAB;
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-jq:hover {
  transform: translate(-260px, -120px) scale(1.2);
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-ng {
  transform: translate(260px, -120px);
  background-image: url("../img/angular.svg");
  background-color: #DA1F22;
}

#skills .skills-circles .circle.circle-1 .circle-inner.lg-ng:hover {
  transform: translate(260px, -120px) scale(1.2);
}

#skills .skills-circles .circle.circle-1 .content-wrapper .circle-heading {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
}

#contact {
  background-color: #1d365d;
  background-image: url("../img/world.png");
  background-size: cover;
  -webkit-background-size: cover;
  moz-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  color: #FFF;
}

#contact .drop-para {
  font-size: 24px;
  padding: 60px 0;
}

#contact .email-link {
  font-weight: bold;
  font-size: 34px;
  color: #FFF;
  padding: 43px 0px;
  display: inline-block;
}

#contact .my_note {
  background: rgba(20, 20, 20, 0.2);
  border-top: 1px solid #172b4a;
  color: #FFF;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  z-index: 9;
}

#contact h3 small {
  color: #FFF;
  opacity: .6;
}

#contact .contact_overlay {
  /*background:$primary-color;
		opacity:.8;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#contact .contact_wrapper {
  position: relative;
  z-index: 5;
}

#contact .contact_wrapper .contact_form {
  text-align: left;
  margin-top: 15px;
}

#contact .contact_wrapper .contact_form .form-control {
  border-radius: 0px;
  background: rgba(20, 20, 20, 0.2);
  border: 1px solid #172b4a;
  color: #FFF;
  font-weight: bold;
  height: 45px;
}

#contact .contact_wrapper .contact_form .form-control.message_box {
  height: 80px;
}

#contact .contact_wrapper .contact_form .btn {
  border-radius: 0px;
  background: rgba(20, 20, 20, 0.2);
  border: 1px solid #172b4a;
  color: #FFF;
}

#contact .contact_wrapper .contact_form .btn:hover {
  background: rgba(50, 50, 50, 0.9);
}

#contact .contact_wrapper .social {
  font-size: 18px;
  margin-bottom: 30px;
}

#contact .contact_wrapper .social a {
  color: #FFF;
  font-size: 24px;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 100%;
  background: rgba(20, 20, 20, 0.2);
  border: 1px solid #172b4a;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

#contact .contact_wrapper .social a span.fa {
  padding-top: 13px;
}

#contact .contact_wrapper .social a:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

#contact .contact_wrapper .social .fb:hover {
  border-color: #1e2e4f;
  background: #3b5998;
  -webkit-transition: background 900ms linear;
  -moz-transition: all 900ms ease;
  transition: all 900ms ease;
}

#contact .contact_wrapper .social .gh:hover {
  border-color: black;
  background: #333;
  -webkit-transition: background 900ms linear;
  -moz-transition: all 900ms ease;
  transition: all 900ms ease;
}

#contact .contact_wrapper .social .sk:hover {
  border-color: #00658a;
  background: #00AFF0;
  -webkit-transition: background 900ms linear;
  -moz-transition: all 900ms ease;
  transition: all 900ms ease;
}

#contact .contact_wrapper .social .cp:hover {
  border-color: #1b1b1c;
  background: #4D4D50;
  -webkit-transition: background 900ms linear;
  -moz-transition: all 900ms ease;
  transition: all 900ms ease;
}

#contact .contact_wrapper .social .tw:hover {
  border-color: #0065d9;
  background: #4099ff;
  -webkit-transition: background 900ms linear;
  -moz-transition: all 900ms ease;
  transition: all 900ms ease;
}

#contact .contact_wrapper .social .li:hover {
  border-color: #043653;
  background: #0976b4;
  -webkit-transition: background 900ms linear;
  -moz-transition: all 900ms ease;
  transition: all 900ms ease;
}

@media all and (max-width: 1200px) {
  .carousel-wrapper {
    position: relative;
    margin-top: 160px;
  }

  .stats-row {
    margin: 80px 0;
  }

  .service-border-right {
    border-right: none;
  }


  .service-border-bottom {
    border-bottom: none;
  }
}

@media all and (max-width: 1030px) {

  #skills,
  .navigation li.skills {
    display: none;
  }
}

@media all and (max-width: 990px) {
  #about .about_me {
    font-size: 15px;
  }

  .testimonial-card {
    min-height: 800px;
  }
}

@media all and (max-width: 767px) {
  .stat-border-right {
    border-right: none;
    border-bottom: 1px solid #FFF;
  }

  .testimonial-card {
    min-height: 1000px;
  }
}

@media all and (max-width: 520px) {
  #contact .email-link {
    font-size: 28px;
  }

  .brand-logo {
    transform: scale(0.6) translate(-108px, -80px);
  }

  .testimonial-card {
    min-height: 1400px;
  }

  #portfolio {
    /*height:1500px;*/
  }

  #about {
    min-height: 700px;
  }

  #about .about-card {
    font-size: 14px;
    line-height: 1.5;
  }

  #home .intro_content h1 {
    font-size: 60px;
    height: auto;
  }

  #home .intro_content h1 span {
    font-size: 80px;
  }

  #home .intro_content p {
    font-size: 12px;
  }
}

@media all and (max-width: 680px) {
  #about .about_me {
    font-size: 12px;
  }
}

@media all and (max-width: 440px) {
  #about .about_me {
    font-size: 8px;
  }

  .carousel-wrapper {
    position: relative;
    margin-top: 200 px;
  }

  #home .intro_content h1 {
    font-size: 32px;
    height: auto;
  }

  #home .intro_content h1 span {
    font-size: 40px;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #234170;
}

::-webkit-scrollbar-track {
  background: rgba(29, 54, 93, 0.4);
}

@keyframes slides {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0px;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  content: '';
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logo_items {
  display: inline-block;
  animation: 35s slides infinite linear;
}

.logos:hover .logo_items {
  animation-play-state: paused;
}

.logo_items img {
  height: 100px;
}

.marquee {
  width: 80%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%)
}

.marquee .carousel {
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }

}